.sign-up-title-name, .login-title-name {
    letter-spacing: 5px;
    padding: 25px 0;
}

.sign-up-button, .login-button {
    letter-spacing: 3px;
    font-family: "Times New Roman", Times, serif;
}

.ui.negative.message .header {
    font-family: "Times New Roman", Times, serif;
}